<!--index.wxml-->
<view>
<view class="container">
<view class="time-wpper">
<view class="time-silt">
<view class="date">{{yearTime}}</view>
<view class="date-content">开展倒计时</view>
</view>
<view class="time-silt">
<view class="date">{{getDayTime}}</view>
<view class="date-content">
<view  wx:for="{{timeArrt}}"  wx:key="time" class="date-time">
{{item.time}}
</view>
</view>
</view>
</view>


 <swiper autoplay="{{true}}" interval="{{5000}}"
  skip-hidden-item-layout="{{true}}" autoplay="true" circular="true" class="indexHeader-ico">
        <block wx:for="{{indexHeaderIcoarrt}}" wx:key="*this">
          <swiper-item>
        <image mode="widthFix" src="{{item}}" class="indexHeader-ico"></image>
          </swiper-item>
        </block>
      </swiper>
<view class="notice">
<view class="noticeLime">通知</view>
  <swiper autoplay="{{true}}" circular="{{true}}" interval="{{5000}}" vertical="{{true}}"
  skip-hidden-item-layout="{{true}}" class="swiper-wpper">
        <block wx:for="{{notice}}" wx:key="*this">
          <swiper-item>
           <view class="noticeContent">{{item.NoteCN}}</view>
          </swiper-item>
        </block>
      </swiper>
</view>
<view  class="nav-wpper">
<view bindtap="navPages" data-item="{{index}}" wx:for="{{navLsit}}"wx:key="{{item}}"class="navList">
<image class="nav-icon" src="{{item.icon}}"></image>
<view class="navContent">{{item.content}}</view>
</view>
</view>
<view class="activity-wpper">
<view class="activity-lime">最新活动</view>
<view  wx:for="{{activitySilt}}" bindtap="activity" wx:key="{{item}}" class="activity-silt">
<image mode="widthFix" class="activity-icon" src="{{item.QuickNewsimg}}"></image>
<view class="activity-content">
<view style="width:100%">{{item.QuickNewsTitle}}</view>
<view class="activity-time">{{item.QuickNewsDate}}</view>
</view>
</view>
</view>
</view>
</view>



