
page{
  color:#383B40;
  background-color:#EDF4FA;
}
.time-silt{
  display: flex;
  align-items: center;
  padding:15rpx 0 0 20rpx;
  position: relative;


}
.indexHeader-ico{
  width: 100%;
  height: 350rpx;
  display: block;
}
.date-time{
  font-size: 26rpx;
 width: 95rpx;
 padding: 5rpx 0;
 text-align: center;
  margin-left:5rpx;
  border-radius: 10rpx;
  border:#E6E7E8 2rpx solid;
  background: #ffffff;
}
.navList{
  text-align: center;
  width: 25%;
  display: inline-block;
 margin-bottom: 10rpx;
}
.activity-lime{
  margin-left: 20rpx;
  font-weight: bold
}
.navContent{
  margin-top: -5rpx;
  color:#6F6F6F;
  font-size: 26rpx;
}
.notice{
  display: flex;
  align-items: center;
  padding: 15rpx;
  background: white;

}
.noticeLime{
  width: 100rpx;
  border-radius: 10rpx;
  font-size: 26rpx;
  text-align: center;
  background-color:#FEE7D6;
color:#D57F5c;

}
.noticeContent{
  
width: 600rpx;
height: 60rpx;
  font-size: 30rpx;
      padding-left: 15rpx;
                white-space: nowrap;
                overflow-x: scroll;
                padding-right: 50rpx;
                  overflow-y: hidden;
}
.nav-wpper{
  margin: 20rpx;
  background: #ffffff;
  border-radius: 20rpx;
  padding:10rpx 0;
}
.swiper-wpper{
  width: 100%;
  height: 40rpx;
}
.activity-silt{
margin-top: 30rpx;
padding-left: 20rpx;
display:flex;
}
.activity-time{
  color:#8F8F8F;
  position: absolute;
  bottom:0;
  left:20rpx;

}
.activity-content{
padding-left: 20rpx;
width: 60%;
position: relative;
  font-size: 28rpx;
}
.activity-icon{
  width: 250rpx;
  /* height: 200rpx; */
  display: inline-block;
}
.activity-wpper{
  margin: 20rpx;
  background: #ffffff;
  border-radius: 20rpx;
  padding:10rpx 0;
}
.activity-lime{
  padding-top:20rpx;
}
.nav-icon{
  width: 80rpx;
  height: 80rpx;
}
.date{
  letter-spacing: 3rpx;
}
.date-content{
    position: absolute;
  right:20rpx;
   display: flex;
  align-items: center;
}
.container{
 background: #EDF4FA;
}
.time-wpper{
  padding-bottom: 20rpx;
  font-size: 28rpx;
  font-weight: bold;
}





