/* pages/information/information.wxss */
@import "../template/template.wxss";
page{
  /* background-color:wheat; */
}
.img-wpper{
  margin: 30rpx 20rpx;
  background: white;
  font-size: 26rpx;
  letter-spacing: 3rpx;
  text-align: justify;
  

}
.lime-mian{
  font-size: 32rpx;

}
.coner{
line-height: 45rpx;
}
.buttonLink{
  margin-top: 80rpx;
  color:white;
  background-color: #305FA7;
  font-size: 32rpx;
  width: 100%;
  margin-bottom: 20rpx;
}
.img-wpper image{
  width: 100%;
  height: auto;
}
.lime-ico{
  width: 100%;
}

.lime{
padding: 20rpx 0 40rpx 0;
}