<import src="../template/template.wxml"/>
<template is="navLink">
</template>

<view class="yaoqing">
 <view class="lime">— 论坛活动 —</view>
 <view class="lime-list">
 <view wx:key="{{item}}" data-index="{{index}}" bindtap="navConent" wx:for="{{listContent}}" class="yaoqing-list">
 {{item.content}}
 </view>
 
 </view>


</view>
<template is="icon">


</template>