/* pages/entrance/entrance.wxss */
page{
  text-align: justify;
}
.login-account{
  background: #f3efef;
}
.visitIco-wpper{
  padding: 30rpx;
}
.visitIco{
  width: 100%;
  height: auto;

}
.content-wpper{
  padding: 30rpx;
}
.content{
  padding: 10rpx 0;
}
.address-signature{
  padding-top: 30rpx;
  font-weight: bold;
}
.address-wpper{
padding: 40rpx 30rpx;
  font-size:28rpx;
}
.name-content{
  padding-bottom: 30rpx;
}
.address-lime{
  padding: 10rpx 0;
}
.exhibits{
  width: 200rpx;
}
.entrance-wpper{
  margin: -20rpx 30rpx 30rpx 30rpx;
    font-size:28rpx;
    z-index: 10;
}
.dentechbg{
  display: block;
  width: 100%;
}
.lime-ico{
  width: 250rpx;
  margin-left: -45rpx;
  margin-bottom: -20rpx;
  display: block;
}
.lime{
  font-size: 28rpx;
  padding: 30rpx 0;  font-weight: bold;
}
.coner{
  font-size:28rpx;
  line-height: 50rpx;
  padding: 5rpx 0;
  text-align: justify
}
.codeIco{
  margin: 40rpx 0;
  width: 300rpx;
  display: block;

}
.coner-mian{
  margin-top: 40rpx;
  font-size:28rpx;
  line-height: 50rpx;
  padding: 5rpx 0;
   text-align: justify;
}
.lime-wpper{
  background-color: white;
  border-radius: 20rpx;
  border:#f3efef solid 1.5rpx;
  text-align: justify;
box-shadow: 0rpx 2rpx 10rpx 1rpx rgba(0,0,0,0.6);
padding: 30rpx;


}
