
<view class="nav-mian">
<view class="search-wpper">
<view class="search">
<image src="/img/sousuo.png"></image>
<input bindinput="bindinputInput" placeholder-class="placeholder-class" placeholder="按会议名称搜索"></input>
</view>
</view>
</view>
<view class="scroll-view-wpper">
<view wx:if="{{siltScroll.length==0}}" class="nodata">
<image src="/img/icon.png" class="img"> </image>
</view>
<scroll-view bindscrolltolower="bindscrolltolower" scroll-y="{{true}}" style="height:{{scrollheight}}px" class="cover-view">
<view class="slit" bindtap="details" data-item="{{item}}" wx:key="{{item}}" wx:for="{{siltScroll}}">
<view class="slit-content-wpper">
<view class="companyName">{{item.ProjectName}}</view>
<view class="booth">{{item.ECompanyCn}}</view>
<view class='booth'>{{item.TrainingTime}}</view>
<view class='content'>
<image class="icon-test" src="/img/icon-test.png"></image>
<view class="address">{{item.Address}}</view>

</view>
</view>
<image src="/img/arr-right.png"></image>
</view>
</scroll-view>
</view>