<!--pages/exhibits/exhibits.wxml-->

<view class="nav-mian">
<view class="search-wpper">
<view class="search">
<image src="/img/sousuo.png"></image>
<input wx:if="{{ifbg==0}}"  bindinput="bindinputInput" placeholder-class="placeholder-class" placeholder="按展商名称 / 展位号搜索"></input>
</view>
</view>
<picker mode="selector" range="{{species}}" range-key="CateNameCn" bindchange="searchChoose" class="search-choose">
<view class="search-choose-wpper"> 
<view class="pickerName">

{{speciesName}}
</view>

<image src="/img/arrow-bottom.png"></image>
</view>
</picker>
</view>

<view class="data-mian">
</view>
<view class="scroll-view-wpper">
<view wx:if="{{siltScroll.length==0}}" class="nodata">
<image src="/img/icon.png" class="img"> </image>
</view>

<scroll-view bindscrolltolower="bindscrolltolower" scroll-y="{{true}}" style="height:{{scrollheight}}px" class="cover-view">

<view class="slit" wx:key="{{item}}" wx:for="{{siltScroll}}">
<view class="slit-content-wpper">

<view  bindtap="yunlanImg" data-item="{{item}}" class='companyName'>展位号：{{item.boothno}}
<image  src="/img/tubiaozhizuomoban.png" class="dingwei"> </image>
</view>
<view bindtap="slit" data-item="{{item}}" style="width:100%">
<view  class="companyName">{{item.ECompanyCn}}</view>
<view class='content'>产品类别：{{item.QCate}}</view>
</view>
</view>
<image class="right-ico" src="/img/arr-right.png"></image>
</view>
</scroll-view>
</view>
<view wx:if="{{ifbg==1}}" class="bg">
<movable-area  class="img-mian">
<movable-view scale="{{true}}"  scale-value="0.5" x="{{x}}" y="{{y}}"  scale-max="10" scale-min="0.2"  class="img-mians" direction="all">
<view class="dingwei-wpper-mian">
<image mode="widthFix" src="{{data.FLUrl}}" class="image-wpper"></image>
<view class="dingwei-wpper" style="width:{{data.W}}px;height:{{data.H}}px;left:{{data.X}}px;top:{{data.Y}}px">
<view class="content-p">
<view class="content-wpper-wpper-p">
<view class="mmp">
<image src="/img/bg.png" class="bgIco"></image>
<view class="content-content">{{data.CompanyName}}
</view>
</view>
</view>
</view>

</view>
</view>
</movable-view>
</movable-area>
<image src="/img/guanbi.png" class="guanbi" bindtap="guanbi"></image>
</view>