<!--pages/savecode/savecode.wxml-->
<image class="img" mode="widthFix" src="{{img}}"></image>

<view class="sace-wpper">

<view wx:if="{{show==0}}" class="sace"  bindtap="baochu">{{imgconer}}</view> 
<view class="sace-mian">
<button open-type="openSetting" wx:if="{{show==1}}" class="sace-buttom"  bindtap="baochu">{{imgconer}}</button>
</view>
</view>