/* pages/savecode/savecode.wxss */
.img{
  width: 100%;
  margin-bottom: 100rpx;
}
.sace-wpper{
position: fixed;
bottom:0;
left: 0;
right: 0;
background-color: white;
padding-bottom: 20rpx;
}
button::after{ /*button的边框样式是通过::after方式实现的*/
border:none;
}
button:not([size='mini']){
width:auto;
min-height:auto;
}
.sace{
  margin: 20rpx;

  background-color:#305FA7;
  color:white;
  font-size: 28rpx;
  padding: 20rpx;
  text-align: center;
  border-radius: 20rpx;
   font-weight: bold;
}
.sace-buttom{
    margin: 20rpx;
  background-color:#305FA7;
  color:white;
  font-size: 28rpx;
  padding: 20rpx 0;
  text-align: center;
   font-weight: bold;
  border-radius: 20rpx;
}
.sace-mian{
  margin: 0 20rpx;
   font-size: 28rpx;
   font-weight: bold;
}