/* pages/information/information.wxss */
@import "../template/template.wxss";
page{
  
}

.img-wpper{
  margin: 30rpx 20rpx;


  font-size: 26rpx;
  letter-spacing: 3rpx;
  text-align: justify;
  

}
.lime-mian{
  font-size: 32rpx;

}
.coner{
  width: 60%;
  font-size: 24rpx;
line-height: 54rpx;
padding-right: 30rpx;
}
.buttonLink{
  margin-top: 80rpx;
  color:white;
  background-color: #305FA7;
  font-size: 32rpx;
  width: 100%;
}
.img-wpper image{
  width: 100%;
  height: auto;
  display: block;
}
.lime-wpper{
  padding: 30rpx 0;
}
.lime{
  margin: 20rpx 0;
  display: flex;
  align-items: top;
  border-bottom:2rpx #f3efef  solid;
}