
<import src="../template/template.wxml"/>

<template is="navLink">
</template>

<view class="lime">
- 官方展团 -
</view>
<view class="silt-wpper">
<view class="silt" wx:for="{{national}}">
<view bindtap="introduce" data-index="{{index}}" data-item="{{item}}" class="silt-mian">
<image mode="widthFix" src="{{item.PavilionImg}}"></image>
<view class="name">{{item.PavilionName}}</view>
</view>
</view>
<view class="coner">点击国旗查看展团信息</view>
</view>
<template is="icon">


</template>

